@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* reset end */

:root {
    --book-cover: #8f4b0b;
}

* {
    font-family: "Merriweather";
}
button:hover {
    cursor: pointer;
}

header h1, footer {
    text-align: center;
}

body {
    height: 100vh;
    background-color: #172554;
    color: #fff;

    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

header {
    grid-column: 1/4;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}
header h1 {
    font-size: 3rem;
}

.new-book {
    background-color: #00000000;
    color: #fff;
    border: 0;

    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: #ffffff 0px 0px 1.5rem;

    padding-top: 5vh;

    width: 15ch;
}
.new-book > span:first-child {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    margin: 2vh 0;
    width: 18em;
}
form section {
    display: flex;
    justify-content: space-between;
}

.form-read {
    justify-content: flex-start;
    gap: 1vw;
}
.form-notes {
    display: flex;
    flex-direction: column;
}
.form-notes textarea {
    height: 10vh;
}

form label {
    font-size: 1rem;
}
form input {
    border: 0;
    border-radius: 15px;
    text-indent: 9px;
}
form input:focus, form textarea:focus {
    outline: 2px solid #53b2ff;
}
form input[type="checkbox"] {
    outline: none;
}

.form-submit {
    display: flex;
    justify-content: center;
}

#add {
    background-color: var(--book-cover);
    color: #fff;
    

    border: 0;
    border-radius: 10px;

    font-size: 1.3rem;
    padding: 0.3vh 1.2vw;
}


main {
    grid-row: 2/3;
    grid-column: 1/4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    margin: 2vh;

    color: #000;
    background-color: #f9ffc0;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 15px solid var(--book-cover);
    border-top: 10px solid var(--book-cover);
    border-bottom: 10px solid var(--book-cover);
    
    font-size: 1.1rem;
}
.gap {
    padding: 1vh 1vw;
}
.card .title, .card .author {
    text-align: center;
}
.card .pages, .card .read, .card .before-notes {
    font-weight: 650;
}
.card .read {
    display: block;
    background-color: #00000000;
    border: 0;
    border-radius: 10px;
}

.card .notes {
    text-align: justify;
}


footer {
    grid-row: 3;
    grid-column: 1/4;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer p {
    padding-bottom: 1vh;
}
footer a {
    color: #ffa7b6;
}